-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: toko_madura
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `investor`
--

DROP TABLE IF EXISTS `investor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investor` (
  `id_investor` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_users` int(10) unsigned NOT NULL,
  `id_master` int(10) unsigned NOT NULL,
  `biaya_langganan_outlet` bigint(20) NOT NULL DEFAULT 100000,
  PRIMARY KEY (`id_investor`),
  UNIQUE KEY `id_users` (`id_users`),
  KEY `id_master` (`id_master`),
  CONSTRAINT `fk_investor_master` FOREIGN KEY (`id_master`) REFERENCES `users` (`id_users`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_investor_users` FOREIGN KEY (`id_users`) REFERENCES `users` (`id_users`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investor`
--

LOCK TABLES `investor` WRITE;
/*!40000 ALTER TABLE `investor` DISABLE KEYS */;
INSERT INTO `investor` VALUES (19,62,61,100000),(20,113,109,100000);
/*!40000 ALTER TABLE `investor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `komisi_master`
--

DROP TABLE IF EXISTS `komisi_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `komisi_master` (
  `id_komisi` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_master` int(10) unsigned NOT NULL,
  `tgl_transfer` datetime NOT NULL,
  `nominal_transfer_komisi` bigint(20) NOT NULL DEFAULT 0,
  `catatan` text NOT NULL,
  `bukti_pembayaran` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_komisi`),
  KEY `id_master` (`id_master`),
  CONSTRAINT `fk_komisi_master` FOREIGN KEY (`id_master`) REFERENCES `users` (`id_users`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `komisi_master`
--

LOCK TABLES `komisi_master` WRITE;
/*!40000 ALTER TABLE `komisi_master` DISABLE KEYS */;
INSERT INTO `komisi_master` VALUES (1,61,'2026-08-01 10:00:00',500000,'Komisi Bagi Hasil Master Owner Agustus 2026','uploads/bukti_komisi/bukti_komisi_1786007307_5759.png'),(4,109,'2026-08-11 14:26:00',500000,'123','uploads/bukti_komisi/bukti_komisi_1786433206_3840.jpg');
/*!40000 ALTER TABLE `komisi_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laporan_omzet`
--

DROP TABLE IF EXISTS `laporan_omzet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `laporan_omzet` (
  `id_laporan` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_outlet` int(10) unsigned NOT NULL,
  `tanggal_omzet` date NOT NULL,
  `nominal_omzet` bigint(20) NOT NULL DEFAULT 0,
  `persentase_potongan` decimal(5,2) NOT NULL,
  `persentase_hak_investor` decimal(5,2) NOT NULL,
  `nominal_potongan` bigint(20) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_laporan`),
  KEY `id_outlet` (`id_outlet`),
  KEY `idx_laporan_periode` (`tanggal_omzet`),
  CONSTRAINT `fk_laporan_outlet` FOREIGN KEY (`id_outlet`) REFERENCES `outlet` (`id_outlet`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laporan_omzet`
--

LOCK TABLES `laporan_omzet` WRITE;
/*!40000 ALTER TABLE `laporan_omzet` DISABLE KEYS */;
/*!40000 ALTER TABLE `laporan_omzet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outlet`
--

DROP TABLE IF EXISTS `outlet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `outlet` (
  `id_outlet` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_users` int(10) unsigned NOT NULL,
  `id_investor` int(10) unsigned NOT NULL,
  `persentase_potongan` decimal(5,2) NOT NULL DEFAULT 10.00,
  `persentase_hak_investor` decimal(5,2) NOT NULL DEFAULT 50.00,
  `nama_outlet` varchar(100) NOT NULL,
  `status` enum('pending','active','reject') NOT NULL DEFAULT 'pending',
  `tipe_request` enum('baru','perpanjangan') NOT NULL DEFAULT 'baru',
  `tgl_jatuh_tempo` datetime DEFAULT NULL,
  `tgl_request` datetime NOT NULL DEFAULT current_timestamp(),
  `tgl_disetujui` datetime DEFAULT NULL,
  `tgl_ditolak` datetime DEFAULT NULL,
  `nominal_transfer` bigint(20) NOT NULL DEFAULT 0,
  `bukti_pembayaran` varchar(255) DEFAULT NULL,
  `alasan_penolakan` text DEFAULT NULL,
  PRIMARY KEY (`id_outlet`),
  UNIQUE KEY `id_users` (`id_users`),
  KEY `id_investor` (`id_investor`),
  CONSTRAINT `fk_outlet_investor` FOREIGN KEY (`id_investor`) REFERENCES `investor` (`id_investor`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_outlet_users` FOREIGN KEY (`id_users`) REFERENCES `users` (`id_users`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outlet`
--

LOCK TABLES `outlet` WRITE;
/*!40000 ALTER TABLE `outlet` DISABLE KEYS */;
/*!40000 ALTER TABLE `outlet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengaturan_sistem`
--

DROP TABLE IF EXISTS `pengaturan_sistem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengaturan_sistem` (
  `id_pengaturan` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nama_pengaturan` varchar(50) NOT NULL,
  `nilai` varchar(255) NOT NULL,
  PRIMARY KEY (`id_pengaturan`),
  UNIQUE KEY `nama_pengaturan` (`nama_pengaturan`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaturan_sistem`
--

LOCK TABLES `pengaturan_sistem` WRITE;
/*!40000 ALTER TABLE `pengaturan_sistem` DISABLE KEYS */;
INSERT INTO `pengaturan_sistem` VALUES (3,'bank_nama','BRI'),(4,'bank_no_rekening','987-654-321'),(5,'bank_atas_nama','Anonymous');
/*!40000 ALTER TABLE `pengaturan_sistem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id_users` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nama_lengkap` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `kecamatan` varchar(100) DEFAULT NULL,
  `alamat_lengkap` text DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','master','investor','outlet') NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_users`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=120 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-12 15:12:52
